# Task

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\Nico\Desktop\Curso Data Analytics\Module 4\Instacart Basket Analysis'

In [6]:
ords_prods_merge = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

## Aggregated mean of the “order_number” column grouped by “department_id”

In [7]:
ords_prods_merge.groupby('product_name')

In [8]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [9]:
# First we can see now all the departments since the data is not limited
# the mode values also changed not by much due to the data has more information

### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest day,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest day,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest day,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest day,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest day,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Busiest day,Most orders,22
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Mid-range product,Regular busy,Regular busy,Most orders,9
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest day,Average orders,9
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest day,Most orders,33
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regular busy,Slowest day,Average orders,20

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified.

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
# whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [25]:
# The team now wants to target different types of spenders in their marketing campaigns. we have to split into 2 
#first getting the average based on the user_id and apply transform
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [26]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [27]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [28]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,...,9.0,both,Mid-range product,Regular busy,Regular busy,Average orders,10.0,New customer,6.367797,Low spender
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regular busy,Slowest day,Average orders,10.0,New customer,6.367797,Low spender
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Regular busy,Slowest day,Most orders,10.0,New customer,6.367797,Low spender
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Least busy,Slowest day,Average orders,10.0,New customer,6.367797,Low spender
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,...,9.0,both,Mid-range product,Least busy,Slowest day,Most orders,10.0,New customer,6.367797,Low spender

In [29]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
NaN                    1
Name: spending_flag, dtype: int64

In [30]:
# Determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s 
# ordering behavior according to the median in the “days_since_prior_order” column.

In [31]:
ords_prods_merge['Frecuency'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.mean)

In [32]:
ords_prods_merge.loc[ords_prods_merge['Frecuency'] > 20, 'ord_freq_flag'] = 'Non-frequent customer'

In [34]:
ords_prods_merge.loc[(ords_prods_merge['Frecuency'] > 10) & (ords_prods_merge['Frecuency'] <= 20), 'ord_freq_flag'] = 'Regular customer'

In [35]:
ords_prods_merge.loc[ords_prods_merge['Frecuency'] <= 10, 'ord_freq_flag'] = 'Frequent customer'

In [36]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,Busiest Days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,Frecuency,ord_freq_flag
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,Soda,...,Mid-range product,Regular busy,Regular busy,Average orders,10.0,New customer,6.367797,Low spender,20.259259,Non-frequent customer
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regular busy,Slowest day,Average orders,10.0,New customer,6.367797,Low spender,20.259259,Non-frequent customer
2,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,Soda,...,Mid-range product,Regular busy,Slowest day,Most orders,10.0,New customer,6.367797,Low spender,20.259259,Non-frequent customer
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,Soda,...,Mid-range product,Least busy,Slowest day,Average orders,10.0,New customer,6.367797,Low spender,20.259259,Non-frequent customer
4,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,Soda,...,Mid-range product,Least busy,Slowest day,Most orders,10.0,New customer,6.367797,Low spender,20.259259,Non-frequent customer

In [37]:
ords_prods_merge['ord_freq_flag'].value_counts(dropna=False)

Frequent customer        16468582
Regular customer         12521159
Non-frequent customer     3415113
NaN                             6
Name: ord_freq_flag, dtype: int64

In [38]:
#Export df_merged as pickle file due to size
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))